.content {
    width: 675px;
    height: 695px;
    background-color: #FF0000;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: #922C2C;
    color: white;
}

p {
    color: #FFFEFE;
    font-size: 20px;
    font: inter;
    font-weight: 400;
    line-height: 24px;
}

img {
    width: 199px;
    height: 91px;
}

 .th {
    height: 61px;
    background: #922C2C;
    display: flex;
 }
 
 .vs {
     color: #FFFEFE;
    font-size: 50px;
    font: inter;
    font-weight: 400;
    line-height: 61px;
    margin: 0 0 0 15px;
 }

.vz {
    width: 675px;
    height: 695px;
    background-color: #FF0000;
    font-family: sans-serif;
}
